@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="" asp-action="Course" asp-controller="Course">RPSC-Programmer</a>
</div>


