@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="" asp-action="Course" asp-controller="Course" asp-route-CourseId="10">RPSC-Programmer</a>
    <br />
    <a asp-area="" asp-action="Course" asp-controller="Course" asp-route-CourseId="1004">RPSC-Ras</a>
</div>


