@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Files</h1>

<video id="videoplayer" src="@Url.Content("~/videos/video.mp4")" controls width="500" height="400" autoplay></video>
