@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Courses.Domain.Course

<h1>@Model.CourseName</h1>
<p>Start Date : @Model.StartDate.ToString("d")</p>
<p>End Date : @Model.EndDate.ToString("d")</p>
<p>@Model.Description</p>
