@{
    Layout = "../Shared/_LayoutSideBar";
}
@model Courses.Domain.Course

<h1>@Model.CourseName</h1>
<p>Start Date : @Model.StartDate.ToString("d")</p>
<p>End Date : @Model.EndDate.ToString("d")</p>
<p>@Model.Description</p>
