@{
    Layout = "../Shared/_LayoutSideBar";
}

@model List<Courses.Domain.CourseWiseContent>

<h1>Content</h1>

<ul>
    @foreach (var item in Model)
    {
        <a asp-area="" asp-action="Files" asp-controller="Files" asp-route-ContentId="@item.ContentId">@item.ContentTitle</a>
        <br />
    }
</ul>

